*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    padding: 5% 10%;
    background-color: #080710;
    display: block;
  }
  
  .background{
    width: 830px;
    height: auto;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
  }
  .background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
  }
  .shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top:50px
  }
  .shape:last-child{
    background: linear-gradient(
        #ff512f,
        #f09819
    );
    right: -30px;
    top:400px
  }
  .btns{
    display: flex;
    gap: 20px;
  }
  .outerdiv{
    height: 350px;
    width: 100%;
    background-color: rgba(255,255,255,0.13);
    position: relative;
    transform: translate(-50%,50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px;
    margin-bottom: 20%;
    
  
  }
  .priority{
    font-size: 15px;
  }
  .outerdiv *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
  .outerdiv h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
  }
  
  .edit-button{
    border: none;
    height: 40px;
    border-radius: 13px;
    width: 70px;
    background-color:#23a2f6;
    color: #080710;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
  }
  .edit-button:hover{
    background-color: #1845ad
  }
  .delete-button:hover{
    background-color: #ff512f
  }
  
  .delete-button{
    border: none;
  height: 40px;
  border-radius: 13px;
  width: 70px;
  background-color:#f09819;
  color: #080710;
  padding: 10px 0;
  border-radius: 15px;
  cursor: pointer;
  }
  input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
    font-size: 14px;
    font-weight: 300px;
  }
  ::placeholder{
    color: #e5e5e5;
  }
  .addbtn{
    margin-top: 50px;
    width: 10%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  .sortbtn{
    margin-top: 50px;
    width: 10%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .task-name{
    margin-left:5px ;
    text-decoration:solid;
  }
  .ag-format-container { 
    cursor:default;
  position: relative;   
    margin: 0 auto;
  }
  .completed{
    list-style-type: none;
  }
  .ag-courses_box {
    display: flex;
    justify-content: center;
  
  }
  h6{
    color: red;
    
  }
  .ag-courses_item {
    width: 70%;
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
  }
  .ag-courses-item_link {
    cursor:default;
    text-decoration: none;
    display: block;
    padding: 30px 20px;
    background-color: #dbc7c7;
    overflow: hidden;
    position: relative;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    transform: scale(13);
  }

  p{float: right;
    color: red;
  font-size: 14px;}
  .ag-courses-item_title {
    display: flex; 
    
    align-items: center;
    cursor:default;
    text-decoration: none;
    text-align: center;
    min-height: 87px;
    margin: 0 0 25px;
    font-weight: bold;
    z-index: 2;
    font-size: 40px;
    color: #23a2f6;
    position: relative;
  
  }
  .taskNametext{
    text-align: left;
    width: 80%;
  }
  .mark-button{
    cursor:default;
    margin-left: 10%;
    
    border: thick;
    background-color: rgb(240, 0, 0);
    height: 25px;
    width: 25px;
  }
  .sort-button{
    border: none;
    height: 40px;
    border-radius: 13px;
    width: 70px;
    background-color:#4ffa00;
    color: #080710;
    padding: 10px 0;
    cursor: pointer;
    }
    .sort-button:hover{
      background-color: rgb(115, 238, 148)
    }
  .ag-courses-item_date-box {
    cursor:move;
    z-index: 2;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color:#ff512f;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f0961962;  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;  
    border-radius: 50%;  
    transition: all .5s ease;
  }
  .displayPromt {
    display: none;
    z-index: 12;
    position: absolute;
    width: 600px;
    margin-left: 20%;
  }
  .submit-button{
    border: none;
    height: 40px;
    border-radius: 13px;
    width: 30%;
    background-color:#23a2f6;
    color: #080710;
    padding: 10px 10px;
    border-radius: 15px;
    cursor: pointer;
  }
  .submit-button:hover{
    background-color: #d0e8f898;
  }
  
  .courses-item_date-box {
    z-index: 2;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    position: relative;
  }
  .courses-item_date {
    font-weight: bold;
    color:#1845ad;
    transition: color .5s ease
  }
  .courses-item_bg {
    height: 128px;
    width: 128px;
    background-color:#23a2f6;  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;  
    border-radius: 50%;  
    transition: all .5s ease;
  }
  .courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color:rgb(45, 93, 206);
    position: relative;
  }
